.calculator-body {
    width: 250px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

.calculator-display {
    width: 220px;
    height: 50px;
    padding: 4px;
    margin: 8px;
    text-align: right;
    background-color: #ffffff;
}

.calculator-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.simple-button {
    padding: 10px;
    margin: 3px 5px;
    width: 60px;
}

.big-button {
    padding: 10px 20px;
    margin: 3px 5px;
    width: 120px;
}